<div id="role-options-<%= user.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="model-lable-<%= user.id%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for user, :url => user_path(user), :html => {:method => :put} do |f| %>
        <div class="modal-header">
          <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
          <h3 class="modal-title" id="model-lable-<%= user.id%>">Change Role</h3>
        </div>
        <div class="modal-body">
          <%= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_ids.first, wrapper: false %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Change Role", :class => "btn btn-primary btn-xs" %>
          <a class="btn btn-default btn-xs" data-dismiss="modal" href="#">Close</a>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
