<div class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t('navigation.title'), root_url %>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to t('navigation.home'), root_url %></li>
      <li><%= link_to t('navigation.application'), applications_path %></li>
          <% if user_signed_in? and current_user.has_role? :admin %>
            <li>
            <%= link_to t('navigation.admin'), users_path %>
            </li>
          <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t("navigation.edit_account"), edit_user_registration_path %>
                </li>
                <li>
                <%= link_to t("navigation.logout"), destroy_user_session_path, :method=>'delete' %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
            <%= link_to t("navigation.login"), new_user_session_path %>
            </li>
            <li>
            <%= link_to t("navigation.sign_up"), new_user_registration_path %>
            </li>
          <% end %>
    </ul>
  </div>
</div>
</div>
